<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = 'stylesheet' href = "{{url_for('static',filename = 'style.css')}}">
</head>
<body>
    <div class = "container">
        <div class = "navbar">
            <div class = "title">
                <h1>The Zinester's Zineverse</h1>
            </div>
            <div class = "navbuttons">
                <a href = "">About</a>
                <a href = "/login_register">Login/Register</a>
            </div>
        </div>

        
    </div>


</body>
</html>